<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Web Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <div class="header-up">
            <div class="container-lg header-up-content">
                <div class="menu">
                    <span></span><span></span><span></span>
                </div>
                <div class="menu-list">
                    <nav>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Characters</a></li>
                        <li><a href="#">Comics</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">TV Shows</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Culture & Lifestyle</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Podcasts</a></li>
                        <li><a href="#">Shop</a></li>
                        <h5 class="subtitle-menu">Marvel Insider</h5>
                        <li><a href="/auth/login#login">Sign In</a></li>
                        <li><a href="/auth/login#login">Join us</a></li>
                    </nav>
                </div>
                <div class="sign-in">
                    <a href="/auth/login#login"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.6 66.7">
                            <path fill-rule="evenodd"
                                d="M59.5 15.1L53 51.4c0 .4-.3.6-.6.6h-6.5c-.3 0-.6-.2-.8-.6l-8.8-24.7H36l-4.3 24.7c-.1.3-.3.6-.6.6H25c-.3 0-.6-.2-.5-.6l6.6-37.3c.1-.3.3-.6.6-.6h6.4c.5 0 .7.2.8.6l8.8 24.7h.3l5.5-30.4C47.9 3.7 40.6.9 32.7.9 14.7.9.2 15.5.2 33.4c0 8.8 3.5 16.7 9.1 22.5l7.3-41.7c.1-.3.3-.6.6-.6H24c.3 0 .5.2.5.6l-8.3 47.2c4.8 2.8 10.4 4.5 16.4 4.5 17.9 0 32.5-14.5 32.5-32.5 0-6.8-2.1-13.1-5.6-18.3z">
                            </path>
                        </svg>
                        Sign in |</a>
                    <a href="/auth/login#login"> Join</a>
                </div>
                <a href="#"><img class="logo" src="img/Marvel_Logo.png" alt="logo"></a>
                <div class="search">
                    <img src="img/mu-shield.png" alt="mu-shield" class="mu-shield">
                    <div class="search-text">
                        <p>Marvel Unlimited</p>
                        <span><a href="/auth/login#login">Subscribe</a></span>
                    </div>
                    <a href="#"><img src="/img/search_106530.svg" alt="search"></a>
                </div>
            </div>
        </div>
        <div class="header-low">
            <div class="container">
                <nav>
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Videos</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Characters</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Comics</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Movies</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">TV Shows</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Games</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">News</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">More</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="subtitle">
            <div class="container">
                <span>Stream Eternals On
                    <img src="img/brand_disney_icon_158933.svg" alt="disney">
                </span>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="banner">
            <div class="overlay">
                <div class="container">
                    <h1>MOVIES</h1>
                    <p class="banner-text">Journey into the cosmic depths of the mighty Marvel Cinematic Universe!</p>
                </div>
            </div>
        </section>
        <section class="last-films">
            <div class="container">
                <div class="slider-cards">
                    <ul class="film-cards">
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/drStrange.jpg" alt="drStrange" class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Doctor Strange in the Multiverse of Madness</a>
                                        <p class="release">May 6,2022</p>
                                    </div>
                                </div>
                            </a></div>
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/spider-man-no-way-home.jpg" alt="no way home" class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Spider-Man: No Way Home</a>
                                        <p class="release">2021</p>
                                    </div>
                                </div>
                            </a></div>
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/eternals.jpg" alt="eternals" class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Eternals</a>
                                        <p class="release">2021</p>
                                    </div>
                                </div>
                            </a></div>
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/shang-chi.jpg" alt="Shand-chi" class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Shang-Chi and The Legend of The Ten Rings</a>
                                        <p class="release">2021</p>
                                    </div>
                                </div>
                            </a></div>
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/black-widow.jpg" alt="Black Widow" class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Black Widow</a>
                                        <p class="release">2021</p>
                                    </div>
                                </div>
                            </a></div>
                        <div><a href="#">
                                <div class="card">
                                    <img src="img/spider-man-far-from-home.jpg" alt="far from home"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <a href="#" class="card-text">Spider-Man: Far From Home</a>
                                        <p class="release">2019</p>
                                    </div>
                                </div>
                            </a></div>
                    </ul>
                </div>

            </div>
        </section>
        <section class="marvel-movies">
            <div class="container">
                <h3 class="section-title">Marvel Movies</h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle"
                        data-bs-toggle="dropdown">Categories</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-filter="all">All Movies</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="soon">Coming Soon</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="iron-man">Iron Man</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="spider-man">Spider-Man</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="thor">Thor</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="captain-america">Captain America</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="ant-man">Ant-Man</a></li>
                        <li><a class="dropdown-item" href="#" data-filter="avengers">Avengers</a></li>
                    </ul>
                </div>
                <ul class="film-cards">
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/fantastic-four.jpg" alt="fantastic-four" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Fantastic Four</a>
                                    <p class="release"></p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/quantumania.jpg" alt="quantumania" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Ant-Man and The Wasp: Quantumania</a>
                                    <p class="release">Jul 28, 2023</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/blade.jpg" alt="blade" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Blade</a>
                                    <p class="release"></p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/the-marvels.jpg" alt="the-marvels" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">The Marvels</a>
                                    <p class="release">Feb 17, 2023</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/wakanda-forever.jpg" alt="wakanda-forever" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Black Panther: Wakanda Forever</a>
                                    <p class="release">Nov 11, 2022</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="soon"><a href="#">
                            <div class="card">
                                <img src="img/thor-love-and-thunder.jpg" alt="thor love and thunder"
                                    class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Thor: Love and Thunder</a>
                                    <p class="release">Jul 8, 2022</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/drStrange.jpg" alt="drStrange-2" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Doctor Strange in the Multiverse of Madness</a>
                                    <p class="release">May 6,2022</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="spider-man"><a href="#">
                            <div class="card">
                                <img src="img/spider-man-no-way-home.jpg" alt="no way home" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Spider-Man: No Way Home</a>
                                    <p class="release">2021</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/eternals.jpg" alt="eternals" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Eternals</a>
                                    <p class="release">2021</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/shang-chi.jpg" alt="Shand-chi" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Shang-Chi and The Legend of The Ten Rings</a>
                                    <p class="release">2021</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/black-widow.jpg" alt="Black Widow" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Black Widow</a>
                                    <p class="release">2021</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="spider-man"><a href="#">
                            <div class="card">
                                <img src="img/spider-man-far-from-home.jpg" alt="far from home" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Spider-Man: Far From Home</a>
                                    <p class="release">2019</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="avengers"><a href="#">
                            <div class="card">
                                <img src="img/avengers-endgame.jpg" alt="Endgame" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Avengers: Endgame</a>
                                    <p class="release">2019</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/captainmarvel.jpg" alt="captain marvel" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Captain Marvel</a>
                                    <p class="release">2019</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="ant-man"><a href="#">
                            <div class="card">
                                <img src="img/ant-man-the-wasp.jpg" alt="ant man the wasp" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Ant-Man and The Wasp</a>
                                    <p class="release">2018</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="avengers"><a href="#">
                            <div class="card">
                                <img src="img/avengers-infinity-war.jpg" alt="Infinity War" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Avengers: Infinity War</a>
                                    <p class="release">2018</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/black-panther.jpg" alt="Black Panther" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Black Panther</a>
                                    <p class="release">2018</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="thor"><a href="#">
                            <div class="card">
                                <img src="img/thor-ragnarok.jpg" alt="Ragnarock" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Thor: Ragnarock</a>
                                    <p class="release">2017</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="spider-man"><a href="#">
                            <div class="card">
                                <img src="img/spider-man-home-coming.jpg" alt="homecoming" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Spider-Man: Homecoming</a>
                                    <p class="release">2017</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/guardians-of-the-galaxy-vol-2.jpg" alt="guardians-of-the-galaxy-vol-2"
                                    class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Guardians of the Galaxy Vol. 2</a>
                                    <p class="release">2017</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/doctor-strange-1.jpg" alt="doctor-strange-1" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Doctor Strange</a>
                                    <p class="release">2016</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="captain-america"><a href="#">
                            <div class="card">
                                <img src="img/captain-america-civil-war.jpg" alt="civil war" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Captain America: Civil War</a>
                                    <p class="release">2016</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="ant-man"><a href="#">
                            <div class="card">
                                <img src="img/ant-man.jpg" alt="Ant-Man" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Ant-Man</a>
                                    <p class="release">2015</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="avengers"><a href="#">
                            <div class="card">
                                <img src="img/avengers-age-of-ultron.jpg" alt="avengers-age-of-ultron"
                                    class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Avengers: Age of Ultron</a>
                                    <p class="release">2015</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/guardians-of-the-galaxy.jpg" alt="guardians-of-the-galaxy"
                                    class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Guardians of the Galaxy</a>
                                    <p class="release">2014</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="captain-america"><a href="#">
                            <div class="card">
                                <img src="img/captain-america-the-winter-soldier.jpg"
                                    alt="captain-america-the-winter-soldier" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Captain America: The Winter Soldier</a>
                                    <p class="release">2014</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="thor"><a href="#">
                            <div class="card">
                                <img src="img/thor-the-dark-world.jpg" alt="thor-the-dark-world" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Thor: The Dark World</a>
                                    <p class="release">2013</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="iron-man"><a href="#">
                            <div class="card">
                                <img src="img/iron-man-3.jpg" alt="iron-man-3" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Iron Man 3</a>
                                    <p class="release">2013</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="avengers"><a href="#">
                            <div class="card">
                                <img src="img/the-avengers.jpg" alt="the-avengers" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">The Avengers</a>
                                    <p class="release">2012</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="captain-america"><a href="#">
                            <div class="card">
                                <img src="img/captain-america-the-first-avenger.jpg"
                                    alt="captain-america-the-first-avenger" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Captain America: The First Avenger</a>
                                    <p class="release">2011</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="thor"><a href="#">
                            <div class="card">
                                <img src="img/thor.jpg" alt="Thor" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Thor</a>
                                    <p class="release">2011</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="iron-man"><a href="#">
                            <div class="card">
                                <img src="img/iron-man-2.jpg" alt="iron-man-2" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Iron Man 2</a>
                                    <p class="release">2010</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="."><a href="#">
                            <div class="card">
                                <img src="img/the-incredible-hulk.jpg" alt="the-incredible-hulk" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">The Incredible Hulk</a>
                                    <p class="release">2008</p>
                                </div>
                            </div>
                        </a></div>
                    <div data-category="iron-man"><a href="#">
                            <div class="card">
                                <img src="img/iron-man.jpg" alt="iron man" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Iron Man</a>
                                    <p class="release">2008</p>
                                </div>
                            </div>
                        </a></div>

                </ul>
            </div>
        </section>
        <section class="other-movies">
            <div class="container">
                <h3 class="section-title">Other Movies</h3>
                <ul class="film-cards">
                    <div><a href="#">
                            <div class="card">
                                <img src="img/dark-phoenix.jpg" alt="dark-phoenix" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">X-Men: Dark Phoenix</a>
                                    <p class="release">2019</p>
                                </div>
                            </div>
                        </a></div>
                    <div><a href="#">
                            <div class="card">
                                <img src="img/deadpool-2.jpg" alt="deadpool-2" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Deadpool 2</a>
                                    <p class="release">2018</p>
                                </div>
                            </div>
                        </a></div>
                    <div><a href="#">
                            <div class="card">
                                <img src="img/logan.jpg" alt="logan" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Logan</a>
                                    <p class="release">2017</p>
                                </div>
                            </div>
                        </a></div>
                    <div><a href="#">
                            <div class="card">
                                <img src="img/x-menapocalypse.jpg" alt="x-men-apocalypse" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">X-Men: Apocalypse</a>
                                    <p class="release">2016</p>
                                </div>
                            </div>
                        </a></div>
                    <div><a href="#">
                            <div class="card">
                                <img src="img/deadpool.jpg" alt="deadpool" class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">Deadpool</a>
                                    <p class="release">2016</p>
                                </div>
                            </div>
                        </a></div>
                    <div><a href="#">
                            <div class="card">
                                <img src="img/x-men-days-of-future-past.jpg" alt="x-men-days-of-future-past"
                                    class="card-img-top">
                                <div class="card-body">
                                    <a href="#" class="card-text">X-Men: Days of Future Past</a>
                                    <p class="release">2014</p>
                                </div>
                            </div>
                        </a></div>
                </ul>
            </div>
        </section>
        <section class="marvel-music">
            <div class="container">
                <h3 class="section-title">Marvel Music</h3>
                <div class="music">
                    <iframe class="spotify" style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/3e8kWcCuI1IpIFU4SxaFx6?utm_source=generator"
                        width="50%" height="450" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450"
                        style="width:100%;max-width:600px;overflow:hidden;background:transparent;"
                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                        src="https://embed.music.apple.com/us/playlist/marvel-music/pl.7fdd6e74d2324a43bae830645f268538?theme=light"></iframe>
                </div>
            </div>
        </section>
        <section class="join-us">
            <div class="container-lg join-us-content">
                <div class="insider-content">
                    <img src="img/marvel_insider_master.jpg" alt="marvel_insider" class="insider">
                    <div class="join-us-text">
                        <p class="join-us-subtitle">Marvel Insider</p>
                        <h3 class="join-us-title">Watch, Earn, Redeem!</h3>
                        <p class="join-us-reward">Get rewarded for doing what you already do as a fan.</p>
                        <a href="/auth/login#login" class="join-us-button btn btn-danger">Join Now</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="marvel-links">
                    <div class="m-logo">
                        <svg viewBox="0 0 36 52" xmlns="http://www.w3.org/2000/svg">
                            <rect fill="#EC1D24" width="80px" height="120px"></rect>
                            <path fill="#FEFEFE"
                                d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z">
                            </path>
                        </svg>
                    </div>
                    <div class="columns">
                        <div class="first-column">
                            <ul class="footer-list">
                                <li><a href="#">About Marvel</a></li>
                                <li><a href="#">Help/Faqs</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Internships</a></li>
                            </ul>
                        </div>
                        <div class="second-column">
                            <ul class="footer-list">
                                <li><a href="#">Advertising</a></li>
                                <li><a href="#">Disney+</a></li>
                                <li><a href="#">MarvelHQ.com</a></li>
                                <li><a href="#">Redeem Digital Comics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="marvel-promo">
                    <a href="#" class="marvel-insider">
                        <img src="img/marvel_insider.png" alt="marvel-insider-logo">
                        <div class="marvel-promo-text">
                            <h4 class="marvel-promo-title">Marvel Insider</h4>
                            <p class="marvel-promo-descr">Get Rewarded for Being a Marvel Fan</p>
                        </div>
                    </a>
                    <a href="#" class="marvel-unlimited">
                        <img src="img/mu-logo.png" alt="marvel-unlimited-logo">
                        <div class="marvel-promo-text">
                            <h4 class="marvel-promo-title">Marvel Unlimited</h4>
                            <p class="marvel-promo-descr">Access Over 29,000+ Digital Comics</p>
                        </div>
                    </a>
                </div>
                <div class="marvel-social">
                    <h4 class="follow-title">Follow Marvel</h4>
                    <ul class="social-list">
                        <li class="social-item"><a href="#" class="social-link fb"></a></li>
                        <li class="social-item"><a href="#" class="social-link tw"></a></li>
                        <li class="social-item"><a href="#" class="social-link inst"></a></li>
                        <li class="social-item"><a href="#" class="social-link tumblr"></a></li>
                        <li class="social-item"><a href="#" class="social-link yt"></a></li>
                        <li class="social-item"><a href="#" class="social-link snap"></a></li>
                        <li class="social-item"><a href="#" class="social-link pint"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">

            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="js/script.js"></script>

</html>